.footer {
  background: #000000;
  color: #ffffff;
  padding: 50px 20px 20px;
  font-family: sans-serif;
  margin-top: 40px;
 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

/* Columns */
.footer-col {
  flex: 1;
  min-width: 220px;
}

.footer-logo {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-logo span {
  color: #38bdf8;
}

.footer-col h3,.footer-col h2 {
 font-variant: small-caps;
}
.footer-col h3 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #38bdf8;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.2s;
}

.footer-col ul li a:hover {
  color: #38bdf8;
}

/* Social Icons */
.social-links a {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  color: #ffffff;
  transition: 0.3s;
}

.social-links a:hover {
  color: #38bdf8;
}

/* Bottom Bar */
.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #334155;
  margin-top: 20px;
  color: #cbd5e1;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
}
