
.nav-part-1{
    display: flex;
    height: 5rem;
    /* background-color: rgb(223, 16, 16); */
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
   
}
.nav-part-1 .searchbox-login{
    display: flex;
    width: 80%;
    justify-content: space-between;
    gap: 2rem;
    /* background-color: aqua; */
    align-items: center;
    padding-right: 20px;
}
.nav-part-1 .navlogo,.nav-part-1 .searchbox,.nav-part-1 .login{
    padding: 10px;
}


/* logo part */

.nav-part-1 .navlogo{
   /* background-color: yellow; */
 
   height: 100%;
   /* overflow: hidden; */
   margin-left: 20px;
  
  
   
}
.navlogo img{
    /* background-color: palegoldenrod; */
    height: 150%;
   
    margin-bottom: 30px;
    margin-top: -11px;
    transition: transform 0.2s ease-in-out;
    &:hover{
        transform: scale(1.07);
    }
}

/* Search part */

.nav-part-1 .searchbox{
    /* background-color: blue; */
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.searchbar{
    width: 80%;
    display: flex;
    align-items: center;
    position: relative;
    /* background-color:yellow; */
}
.searchbox input{
    padding: 10px 30px;
    width: 100%;
    border-radius: 20px;
   font-size: clamp(1rem,1.5vw,2rem);

}

/* login button part */
/* .nav-part-1 .login{
    background-color: #1f1010;
   
} */

.login button{
    display: flex;
    
    align-items: center;
    gap: 10px;
   color: black;
    font-weight: 700;
    padding: 2px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out; 
    border: none;
    background-color: antiquewhite;
    &:hover{
        background-color: rgb(202, 202, 202);
        /* color: white; */
    }
 
    
}
/* now for nav-part-2 */
.nav-part-2{
    /* height: 5rem; */
    margin-top: 1rem;
    /* background-color: green; */
    z-index: 200;
}
.nav-part-2 ul{
   display: inline-flex;
   height: 100%;
   align-items: center;
   width: 100%;
   /* background-color: yellow; */
   padding: 0px 20px;
   justify-content: space-around;
   /* gap: 1rem; */
   font-weight: 900;
   font-size: clamp(0.8rem,1vw,1.5rem);
}
.nav-part-2 ul li{
    list-style-type: none;
    
}
.nav-part-2 ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-decoration: none;
   color: black;
    padding: 0.8rem;
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
   

}

.active{
  background-color: rgb(204, 204, 204);
    transition: all 0.2s ease-in-out;

  
}


/* react-icons */
.icon{
    font-size: clamp(1rem,3vw,3rem);
    color: black;
    font-weight: 700;
    transition: transform 0.2s ease-in-out;
    &:hover{
        transform: scale(1.07);
    }
}
.nav-search{
    font-size: clamp(1rem,2vw,3rem);
    position: absolute;
    right: 20px; 
    transition: transform 0.2s ease-in-out;
    cursor: pointer;

    &:hover{
        transform: scale(1.07);
      
    }

}
.nav-cart{
    background-color:  white !important;
}

/* designing each navbar2 logos */

a:has(.nav-home),.nav-home{
    color: #3B82F6 !important;
}


a:has(.nav-books),.nav-books{
    color: #10B981 !important;
}

a:has(.nav-notes),.nav-notes{
    color: #6366F1 !important;
}

a:has(.nav-subscriptions),.nav-subscriptions{
    color: red !important;
}
a:has(.nav-studykits),.nav-studykits{
    color: #8B5CF6 !important;
}
a:has(.nav-exploremore),.nav-exploremore{
    color: #057437 !important;
}
a:has(.nav-sell),.nav-sell{
    color: #002e11 !important;
}

a:has(.nav-donate) ,.nav-donate{
    color: #cc042f !important;
}



/* mobile screen and small screen */
.nav-mobile-hamburg{
    display: none !important;
}
.smallScreenLogin{
    display: none;
}

@media screen and (max-width:789px) {
    .nav-mobile-hamburg{
        display: block !important;
    }
    .smallScreenLogin{
    display: block;
}

    
    .login-button{
        display: none !important;
    }
    .nav-cart,.nav-hamburg,.nav-cross{
        font-size: 2rem;
    }
    
    .nav-part-2{
        position:absolute;
       margin: 0;
       /* transform: translateX(-100%); */
       height: 100vh;
     background-color: rgb(228, 228, 228);
     border-top-right-radius: 10px;
        
    }
    .nav-part-2 ul{
       flex-direction: column;
       padding: 10px ;
       align-items: flex-start;
       justify-content: flex-start;
    }
    .nav-part-2 ul li a{
        flex-direction: row ;
    }
    .pc{
       transform: translateX(-100%);
       transition: transform 0.3s ease-in-out;
    }
    .mobile{
        transform: translateX(0%);
       transition: transform 0.3s ease-in-out;
    }
}


@media screen  and (max-width:510px){
    .searchbox{
        display: none !important;
    }
    .searchbox-login{
        justify-content: flex-end !important;
    }
    
}
