 .page-main-container{
    padding: 1vw 2vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
   
 }
 .item-filter{
   
    /* background-color: red; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
 }

 .filter{
    /* background-color: yellow; */
     white-space: nowrap; 
    border-radius: 30px;

    
 }
 .filter-heading{
   margin: 10px 0px;
 }

 .filter h4{
    /* background-color: green; */
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
 }
  .filter h4 span{
  cursor: pointer;
 }
 .filter-subheadings{
    display: flex;
    flex-direction: column;
    gap: 5px;
      color: rgb(29, 29, 29);

    margin: 10px 0px;
 }
   .filter-select-items{
      padding: 5px 20px 20px 20px;
      flex-direction: column;
      gap: 10px;
      background-color: white;
      color: rgb(29, 29, 29);
      font-size: 0.9em;
      display: none;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px; 
   }
   .show-list{
           display: flex;

   }

   .filter-select-items .select-item{
      display: flex;
      align-items: center;
      gap: 5px;
   }



  /* item-container starts here */
   .item-content{
    /* height: 100vh; */
    /* background-color: rgb(255, 85, 85); */
    padding: 20px;
    overflow: hidden;
 }
 .search-items{
   /* background-color:aqua; */
   margin-bottom: 10px;
   font-size: clamp(1rem,2vw,3rem);
  position: relative;
   
 }
 .search-items input{
   padding: 10px 30px;
   font-weight: 600;
   font-size: clamp(1rem,2vw,3rem);
   border-radius: 30px;
   width: 100%;
   
 }
 .search-item-icon{
      font-size: inherit;
      position: absolute;
      right: 20px;
      top: 25%;
      cursor: pointer;

 }
   .sort-by{
      /* background-color: white; */
      margin-bottom: 10px;
   }
   .item-recentlyAdded-container{
      /* background-color: yellow; */
      padding: 10px;
   }
   .item-recentlyAdded-container h2,.all-items-container h2{
      margin-bottom: 10px;
   }
   .item-recentlyAdded{
      /* background-color: blue; */
      padding: 10px 0px;
      display: grid;
      grid-template-columns: repeat(5,1fr);
      gap: 10px;
      overflow-x: auto;
      
   }
   
   .all-items-container{
         min-height: 100vh;
         background-color: white;
         padding: 10px;
   }
  
   .all-items{
       display: grid;
      grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
      gap: 10px;
      flex-wrap: wrap;
      padding: 10px 0;
   }
   .item-card{
      background-color: white;
      border: 1px solid rgba(0,0,0,0.3);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
      transition: all 0.3s ease-in-out;
      &:hover{
            transform: translateY(-5%);
      box-shadow: 0px 0px 20px rgba(0,0,0,0.4);

      }
   }
   .item-card img{
     width: 100%;
   }
   a:has(.item-card){
      color: black;
      text-decoration: none;
   }
    

   /* each product page */
   .EachItemDetailsPage{
   min-height: 100vh;
   height: 100vh;
   background-color: red;
   padding: 2vw 4vh;
   }
   .ProductDetailsContainer{
      background-color: green;
      height: 100%;
      display: flex;
      gap: 10px;
      
   }
   .ProductSubContainer1{
      min-width: 30%;
      background-color: pink;
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
   .ProductSubContainer2{
      width: 100%;
      background-color: yellow;
   }
   .ProductSubContainer1 .image{
      width: 100%;
      min-height: 300px;
      background-color: gray;
      border-radius: 10px;
   }
   .multipleImages{
     display: flex;
     width: 100%;
     padding: 5px;
    gap: 10px;
    justify-content: space-around;
     background-color: aqua;
   }
   .multipleImages .multipleImage{
     min-width: 50px;
     min-height: 50px;
     background-color: green;
     border-radius: 10px;
     cursor: pointer;
   }
   
 @media screen  and (max-width:789px){
    .page-main-container{
      display: flex;
      flex-direction: column;
    gap: 10px;
 }
.filter{
    /* background-color: rgb(233, 233, 233); */
    display: flex;
    overflow-x: auto;
     white-space: nowrap; 
 }
 .filter-subheadings{
   display: flex;
   flex-direction: row;
   gap: 10px;
    
 }
 .filter-subheading{
   padding: 0px 10px;
   border-radius: 20px;
   
   
 }
 
 .filter-heading{
   display: none;
 }
.filter h4{
   padding: 15px;
    border-radius: 20px;
 }

 }