*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif; 
  box-sizing: border-box;
  
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif; /* headings */
}
/* Professional typography spacing */
h1 {
  letter-spacing: 1.5px;
}

h2, h3 {
  letter-spacing: 0.8px;
}

p {
  letter-spacing: 0.3px;
}
button{
  color: black;
  cursor: pointer;
}