.ExploreStudyMaterials{
    height: auto;
   background-color:rgba(0, 0, 0, 0.06);
   border-radius: 20px;
    padding: 30px;
   text-align: center;
   /* border-bottom: 1px solid black; */
  
}
.ExploreStudyMaterials h1{
   
    font-size: clamp(2rem,3.5vw,4rem);
    text-align: center;
    font-variant: small-caps;

}

.ExploreStudyMaterials-cardmain-container{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
  
    
}
.ExploreStudyMaterials-cardmain-container h2{
  
    font-variant: small-caps;
  
    
}
.ExploreStudyMaterials-cardmain-container button{
     width: 30%;
    padding: 10px;  
    font-variant: small-caps;
    border-radius: 20px;
    color: black;
    background-color: yellow;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: none;
    margin-top: 1rem;
    &:hover{
         color: white;
         background-color: black;
         transform: scale(1.08);
         box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    }
}
.ExploreStudyMaterials-CardContainer{
  display: grid;
  /* width: 80%; */
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 2rem;
  /* background-color: red; */

}

.ExploreStudyMaterials-card{
    height: 200px;
   
     background-color: #fafafa;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    text-align: center;
    transition: 0.3s ease-in-out;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.8);
    &:hover{
        transform: translateY(-8px);
        box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
    }

}
.ExploreStudyMaterials-card h1{
    font-size: clamp(1rem,2vw,3rem);
    margin: 0 0 10px 0;
    font-variant: small-caps;
    letter-spacing: 1px;
}
.ExploreStudyMaterials-card h4 {
  font-size: 1rem;
  line-height: 1.4;
  opacity: 0.8;
}
.ExploreStudyMaterials-card-icon{
     box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-size: clamp(2rem,3vw,4rem);
}



@media screen  and (max-width:789px){
    .ExploreStudyMaterials-cardmain-container button{
        font-size: clamp(0.8rem,1vw,1.5rem);
    width: 100%;
}
.ExploreStudyMaterials-CardContainer{
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

}
}