

/* hero section starts */

.HeroSection{
 min-height: 50vh;
 /* background-color: green; */
 display: flex;
    margin-bottom: 20px;
    border-radius: 10px;

}
.herosection-text{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
      z-index: 10;
    border-radius: 10px;

      
}
.herosection-text h1{
    /* background-color: violet; */
    font-size: clamp(2rem,3.5vw,4rem);
    font-variant: small-caps;
    
}
.herosection-heading h4{
    margin-top: 10px;
    font-style: italic;
    
   
}
.herosection-image{
    width: 50%;
    position: relative;
     border-radius: 40px;
}
.herosection-image img{
    width: 100%;
    height: 100%; 
    position: absolute;
    top: 0;   
    border-radius: inherit;
}
.show{
    opacity: 1;
    transition: 1s ease-in-out;
}
.fade{
    opacity: 0;
    transition: 1s ease-in-out;
}

.herosection-CTA{
    margin-top: 2rem;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.herosection-CTA button{
    width: 50%;
    height: auto;
    color: white;
    padding: 10px;
    font-size: clamp(0.8rem,1.3vw,2rem);
    font-weight: 600;
    display: flex;
    align-items: center;
    border: none;
    gap: 5px;
    justify-content: center;
    border-radius: 20px;
    transform: scaleY(1.3); 
    cursor: pointer;
      white-space: nowrap; 
   
}
button:has(.sell-icon){
    background-color:rgb(1, 68, 95);
    transition: 0.3s ease-in-out;
    &:hover{
    background-color:rgb(0, 27, 37);
     transform: scale(1.06);
         box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    }
}

button:has(.find-icon){
     background-color:orangered;
    transition: 0.3s ease-in-out;
    &:hover{
    background-color:rgb(53, 35, 1);
     transform: scale(1.06);
         box-shadow: 0 10px 20px rgba(0,0,0,0.15);

    }
}


@media screen and (max-width:789px) {
   .HeroSection{
    position: relative;
    border-radius: 10px;
   }
   .herosection-image{
    border-radius: 0;
    width: 100%;
   }
   .herosection-text{
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: white;
   border-radius: 10px;
   }
   .herosection-text h1{
    /* background-color: violet; */
    font-size: clamp(1.5rem,3vw,4rem)
}

    
}
@media screen and (max-width:510px) {
      .herosection-text h1{
    /* background-color: violet; */
    font-size: clamp(1rem,2vw,3rem)
}
.herosection-CTA{
    flex-wrap: wrap;
}
.herosection-CTA button{
    width: 60%;
}
.herosection-heading h4{
      font-size: clamp(0.8rem,1.2vw,2rem)

}
}