.RecentlyAdded{
    height: auto;
    /* background-color: aqua; */
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0px;
}
.RecentlyAdded .Heading{
  display: flex;
   padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  flex-wrap: wrap;
}
.RecentlyAdded h1{
    
    
    font-size: clamp(2rem,3vw,4rem);
    text-align: center;
    font-variant: small-caps;
}
.RecentlyAdded .Heading a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #e9e9e9;
}

.RecentlyAddedContainer{
   width: 100%; 
    /* background-color: yellow; */
    padding: 10px;
    display: flex;
    gap: 10px;
  
   
    overflow: hidden;  
    overflow-x: scroll;
    scrollbar-width: none;
    
  
}
a:has(.RecentlyAddedCard){
  color: black;
  text-decoration: none;
  border-radius: 20px;
  background-color: white;
}
.RecentlyAddedCard{
    width: 200px;
    min-height: 200px;
    /* background-color: red; */
    border-radius: 30px;
    /* text-align: center; */
    border: 1px solid black;
 box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
 white-space:nowrap ;
 

}
.RecentlyAddedCard-img{
  height: 100px;
  width: 100%;
  background-color:greenyellow;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.RecentlyAddedCard-img img{
 height: 100%;
 width: 100%;
 transition: 0.2s ease-in-out;
 &:hover{
  transform: scale(1.1);
 }
 
}
.RecentlyAddedCard-details{
  padding: 20px;
}
.scroll-track {
    display: flex;
    gap: 20px;
    width: max-content;
 animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

