.Testimonial{
    margin:20px 0px;
    /* background-color: yellow; */
    border-radius: 20px;
    padding: 10px;
}

.testimonial-main-heading{
    font-variant: small-caps;
    font-size: clamp(1rem,2.5vw,5rem);
    text-align: center;
    padding: 30px;
}
.testimonial-main-container{
     /* background-color: red; */
     display: grid;
     grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
     gap: 20px;
     padding: 20px;

}
.TestimonialCard{
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}
.testimonial-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

}
.testimonial-profile img{
    width: 50px;

    border: 1px solid black;
    border-radius: 50%;
}

@media screen  and (max-width:510px){

    .testimonial-main-container{
     grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

}
}